<div *ngIf="vista" class="register-container">
    <h3>Registro</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      
      <label>Nombre Completo</label>
      <input type="text" formControlName="NOMBRE_COMPLETO" placeholder="Ej. Juan Pérez">
      <small *ngIf="registerForm.controls['NOMBRE_COMPLETO'].invalid && registerForm.controls['NOMBRE_COMPLETO'].touched">
        El nombre es obligatorio (mín. 5 caracteres).
      </small>
  
      <label>Tipo de Documento</label>
      <select formControlName="TIPO_DOCUMENTO">
        <option value="">Seleccione...</option>
        <option value="CC">Cédula de Ciudadanía</option>
        <option value="TI">Tarjeta de Identidad</option>
        <option value="CE">Cédula de Extranjería</option>
        <option value="PAS">Pasaporte</option>
      </select>
      <small *ngIf="registerForm.controls['TIPO_DOCUMENTO'].invalid && registerForm.controls['TIPO_DOCUMENTO'].touched">
        Selecciona un tipo de documento.
      </small>
  
      <label>Número de Documento</label>
      <input type="text" formControlName="NUMERO_DOCUMENTO" placeholder="Ej. 12345678">
      <small *ngIf="registerForm.controls['NUMERO_DOCUMENTO'].invalid && registerForm.controls['NUMERO_DOCUMENTO'].touched">
        Ingresa un número de documento válido.
      </small>
  
      <label>Correo Electrónico</label>
      <input type="email" formControlName="CORREO" placeholder="Ej. correo@ejemplo.com">
      <small *ngIf="registerForm.controls['CORREO'].invalid && registerForm.controls['CORREO'].touched">
        Ingresa un correo válido.
      </small>
  
      <label>Contraseña</label>
      <input type="password" formControlName="CONTRASENA" placeholder="Mínimo 6 caracteres">
      <small *ngIf="registerForm.controls['CONTRASENA'].invalid && registerForm.controls['CONTRASENA'].touched">
        La contraseña debe tener al menos 6 caracteres.
      </small>
  
      <button type="submit"  class="register" [disabled]="registerForm.invalid">Registrarse</button>
      <!-- <button type="button" class="login" (click)="login()">login</button> -->
    </form>
  </div>
  